.venv
.env
__pycache__/
*.pyc       
*.pyo
*.pyd           
.Python
env/
venv/
ENV/
node_modules/
dist/
*.log
*.cache
*.tmp
*.bak   
*.swp
*.DS_Store
*.idea/
!.env
!.env.*
node_modules/

.env
presentation/
presentation.pptx
presentation.zip

.vscode
